body {
    background: linear-gradient(-45deg, #00A2C4, rgb(126, 212, 229))
}

input[type=checkbox] {
    transform: scale(2.5);
    display: inline-block;
    cursor: pointer;
  }

.unchecked {
    max-width: 100%;
    height: auto;
    background: white;
    padding: 10px;
    border-radius: 30px;
    margin: 10px;
    text-align: center;
    position: relative;
    transition: 2s;
}

.checked{
    max-width: 100%;
    height: auto;
    background: green;
    padding: 10px;
    border-radius: 35px;
    margin: 10px;
    transition: 2s;
    text-align: center;
}

h1 {
    text-align: center;
    display: inline-block;
    margin-left: 10px;
}

button {
    margin-top: 20px;
    color: #89764A;
    font-weight: bolder;
    display: inline-block;
    cursor: pointer;
    
}

.hidden{
    display: none;
}

.shown{
    display: block;
    margin: 0 auto;
    height: 250px;
    width: 250px;
    border: 1px solid black;
    background: red;
}
